<!DOCTYPE html> 
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div>POST test</div>
        <form action="/mysql" method="post">
            <input type="text" name="gmail" placeholder="Enter gmail here">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>